.button {
    text-decoration: none;
    padding: 1rem 1rem;
    border: 2px solid #4a473e;
    background-color: #e5dada;
    color: #2b9348;
    width: 15rem;
    text-align: center;
    font-family: 'Acme', sans-serif;
    font-size: 2rem;
    word-spacing: 0.3em;
}

.button:hover {
    cursor: pointer;
    transform: translateY(-2px);
    transition: transform 150ms;
    box-shadow: 0 3px 3px 0 #2b9348;
}

