html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

html {
  font-size: 62.5%;
}

.backgroundImage {
  background-image: url(../styles/assets/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.flexColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 90rem;
  padding: 2rem;
  height: 80vh;
}

h1 {
  font-family: 'Acme', sans-serif;
  font-size: 6rem;
  word-spacing: 0.3em;
  color: #4a473e;
}

.flexColumn h1 {
  margin-bottom: 0;
}

.flexColumn p {
  margin-bottom: 5rem;
  text-align: center;
}

p {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 2.3rem;
  font-weight: 900;
  color: #774963;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e5dada;
  color: #2b9348;
  height: 20vh;
  -webkit-animation: fadeIn ease 5s;
          animation: fadeIn ease 5s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

.footerLink {
  text-decoration: none;
  color: #2b9348;
}

.footer {
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
}

.button {
  text-decoration: none;
  padding: 1rem 1rem;
  border: 2px solid #4a473e;
  background-color: #e5dada;
  color: #2b9348;
  width: 15rem;
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 2rem;
  word-spacing: 0.3em;
}

.button:hover {
  cursor: pointer;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  -webkit-box-shadow: 0 3px 3px 0 #2b9348;
          box-shadow: 0 3px 3px 0 #2b9348;
}

.button:focus {
  border: 2px solid crimson;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 7rem;
}

form {
  background-image: url(../styles/assets/appimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
}

.flexRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

input {
  width: 90%;
  padding: 0.9rem;
  border: 2px solid crimson;
}

input:focus {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  -webkit-box-shadow: 0 3px 3px 0 crimson;
          box-shadow: 0 3px 3px 0 crimson;
}

.formText {
  width: 100%;
}

input[type="text"]::-webkit-input-placeholder {
  letter-spacing: 0.2em;
  font-size: 1.2rem;
}

input[type="text"]:-ms-input-placeholder {
  letter-spacing: 0.2em;
  font-size: 1.2rem;
}

input[type="text"]::-ms-input-placeholder {
  letter-spacing: 0.2em;
  font-size: 1.2rem;
}

input[type="text"]::placeholder {
  letter-spacing: 0.2em;
  font-size: 1.2rem;
}

input[type="text"] {
  padding: 1.3rem;
  width: 100%;
}

input[type="submit"] {
  margin-top: 3rem;
  text-decoration: none;
  padding: 1rem 1rem;
  border: 2px solid #4a473e;
  background-color: #e5dada;
  color: #2b9348;
  width: 15rem;
  text-align: center;
  font-family: 'Acme', sans-serif;
  font-size: 2rem;
  word-spacing: 0.3em;
}

input[type="submit"]:hover {
  cursor: pointer;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  -webkit-box-shadow: 0 3px 3px 0 #2b9348;
          box-shadow: 0 3px 3px 0 #2b9348;
}

.result {
  width: 100%;
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recipeCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: calc((100% / 2) - 20px);
  margin-top: 20px;
  padding: 3rem 3rem;
  border: 5px solid crimson;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#F90E42), color-stop(#FE495E), color-stop(#FF6A78), color-stop(#FF8792), color-stop(#FDA2AB), color-stop(#FFA9A5), color-stop(#FFB0A1), color-stop(#FFB89F), color-stop(#F9B877), color-stop(#DEBF51), color-stop(#ABCA3A), to(#4FD448));
  background-image: linear-gradient(to right bottom, #F90E42, #FE495E, #FF6A78, #FF8792, #FDA2AB, #FFA9A5, #FFB0A1, #FFB89F, #F9B877, #DEBF51, #ABCA3A, #4FD448);
}

.recipeCard:hover,
.recipeCard:focus {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
  -webkit-box-shadow: 0 3px 3px 0 crimson;
          box-shadow: 0 3px 3px 0 crimson;
}

.recipeImg img {
  border: 3.5px solid green;
}

.recipeImg,
.recipeText {
  width: 40%;
}

h4 {
  font-family: 'Acme', sans-serif;
  word-spacing: 0.3em;
  color: #4a473e;
}

.recipeLink {
  text-decoration: none;
  font-family: 'Acme', sans-serif;
  font-size: 3rem;
  color: #4a473e;
}

.recipeContent {
  font-size: 2rem;
  color: palevioletred;
}

.recipeSection {
  background-color: #E5E5E5;
  margin-bottom: 0;
}

@media (max-width: 320px) {
  form {
    height: 55vh;
  }
}

@media (max-width: 375px) {
  .flexColumn h1 {
    text-align: center;
  }
  .form > * {
    text-align: center;
  }
  .flexRow {
    margin-top: 0;
  }
  .form p {
    margin-top: 0;
  }
  .result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recipeCard {
    width: 100%;
    position: block;
  }
  .recipeImg {
    width: 100%;
  }
  .recipeImg img {
    width: 80%;
  }
  .recipeLink {
    font-size: 2.3rem;
  }
}

@media (max-width: 376px) {
  .flexColumn h1 {
    text-align: center;
  }
  .form > * {
    text-align: center;
  }
  .flexRow {
    margin-top: 0;
  }
  .form p {
    margin-top: 0;
  }
  .result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .recipeCard {
    width: 100%;
    position: block;
  }
  .recipeImg {
    width: 100%;
  }
  .recipeImg img {
    width: 80%;
  }
  .recipeLink {
    font-size: 2.3rem;
  }
}

@media (max-width: 768px) {
  .recipeImg {
    width: 100%;
  }
  .recipeImg img {
    width: 80%;
  }
  .recipeLink {
    font-size: 2.3rem;
  }
  .recipeText {
    width: 100%;
  }
}
